@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --black: rgba(0,0,0,1);
    --grey: rgb(40, 50, 60);
    --soft-white: rgba(248,248,248,1);
    --white: rgba(255,255,255,1);
    --main-col: rgba(0,100,130,1);
    --soft-shadow: 0px 0px 10px 5px rgba(230,230,230,1);
    --dark-shadow: 0px 0px 15px 10px rgba(200,200,200,1);
    --soft-radius: 30px;
    --hard-radius: 20px;
    --filter-hover: brightness(200%);
    --filter-active: brightness(60%);
}

* {
    transition: all 200ms;
    font-family: Poppins , sans-serif;
	margin: 0;
	padding: 0;
  }

#app {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	background: var(--soft-white);
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.calculator {
	box-shadow: var(--soft-shadow);
	border-radius: var(--hard-radius);
	padding: 10px;
	background: var(--white);
	width: 336px;
	position: relative;
}

.formulaScreen {
	min-height: 20px;
	font-size: 20px;
	color: orange;
	text-align: right;
	vertical-align: text-top;
	line-height: 20px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	padding: 10px;
}

.outputScreen {
	font-size: 29px;
	color: var(--black);
	text-align: right;
	line-height: 35px;
	padding: 10px;
	font-weight: bold;
}

button {
	position: relative;
	height: 80px;
	width: 80px;
	color: var(--white);
	border-radius: var(--soft-radius);
	background: var(--grey);
	font-size: 20px;
	cursor: default;
	margin: 2px;
}

button:hover {
	color: var(--black);
	z-index: 3;
	border-radius: var(--hard-radius);
	filter: var(--filter-hover);
}

button:active {
	filter: var(--filter-active);
}

.jumbo {
	width: 162px;
	border-radius: var(--soft-radius);
}

.author {
	text-align: center;
	margin-top: 15px;
}

.author a {
	text-decoration: none;
	color: var(--main-col);
	line-height: 26px;
}

#equals {
	background-color: var(--main-col);
	height: 164px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}