@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --black: rgba(0,0,0,1);
    --grey: rgba(220,220,220,1);
    --soft-white: rgba(248,248,248,1);
    --white: rgba(255,255,255,1);
    --main-col: rgba(0,100,130,1);
    --soft-shadow: 0px 0px 10px 5px rgba(230,230,230,1);
    --dark-shadow: 0px 0px 15px 10px rgba(200,200,200,1);
    --soft-radius: 30px;
    --hard-radius: 10px;
    --filter-hover: brightness(95%);
    --filter-active: brightness(85%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 200ms;
    font-family: Poppins , sans-serif;
  }
  
body {
    background: var(--soft-white);
    color: var(--black);
    font-size: 30px;
    text-align: center;
}

body #container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#container > div {
    box-shadow: var(--soft-shadow);
    border-radius: var(--soft-radius);
    padding: 20px;
    margin: 30px;
}

body #container .main-title {
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--main-col);
    font-weight: bold;
}

body #container .length-control {
    width: 250px;
    box-shadow: var(--soft-shadow);
    border-radius: var(--soft-radius);
    background-color: var(--white);
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

body #container button {
    background: none;
    outline: none;
    border: none;
    color: var(--white);
    cursor: pointer;
}

body #container .btn-level, body #container .length-control {
    display: inline-block;
}

body #container .btn-level .btn-level:nth-child(3), body #container .length-control .btn-level:nth-child(3) {
    width: 40px;
}

body #container .timer {
    border-radius: var(--soft-radius);
    box-shadow: var(--soft-shadow);
    padding: 20px;
    margin: 20px auto 10px auto;
    width: 270px;
    height: 200px;
    position: relative;
}

body #container .timer .timer-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -95px;
    margin-top: -57px;
}

body #container .timer #time-left {
    font-size: 80px;
}

body #container .timer .timer-control button:active {
    color: var(--main-col);
}

@media screen and (max-width: 500px) {
    #container {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
   }
}

.author {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #a50d0d;
}

.author a {
    text-decoration: none;
    color: var(--main-col);
    line-height: 26px;
}

i{
    margin: 10px;
    box-shadow: var(--soft-shadow);
    border-radius: var(--soft-radius);
    background-color: var(--white);
    padding: 20px;
    color: var(--main-col);
}

i:hover{
    filter: var(--filter-hover);
}

i:active{
    filter: var(--filter-active);
}