@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
  --black: rgb1(0,0,0,1);
  --grey: rgba(220,220,220,1);
  --soft-white: rgba(248,248,248,1);
  --white: rgba(255,255,255,1);
  --main-col: rgba(255,150,0,1);
  --soft-shadow: 0px 0px 10px 5px rgba(230,230,230,1);
  --dark-shadow: 0px 0px 10px 5px rgba(200,200,200,1);
  --soft-radius: 30px;
  --hard-radius: 10px;
}

* {
  font-family: Poppins , sans-serif;  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  transition: all 100ms;
}

body {
    font-family: Roboto , sans-serif;
    color: var(--black);
    background-color: var(--soft-white);
    text-align: center;
    margin: 0;
}

main {
    display: block;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.section {
    background-color: var(--white);
    border-radius: var(--soft-radius);
    box-shadow: var(--soft-shadow);
    margin: 30px;
    padding: 30px;
}

#title {
    font-weight: 900;
    color: var(--main-col);
}

#image {
    max-width: 90%;
    display: block;
    margin: 30px auto 10px auto;
    border-radius: var(--soft-radius);
    box-shadow: var(--soft-shadow);
}

#tribute-text {
    text-align: left;
}

a {
    color: var(--main-col);
}

a:hover {
   font-weight: bold;
}